commands:
  01_enable_rootaccess:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  02_node_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6.2.2-linux-x64 | head -1`/bin/node /bin/node"
  03_npm_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6.2.2-linux-x64 | head -1`/bin/npm /bin/npm"
  04_sails_install:
    command: "sudo npm install -g sails"
    ignoreErrors: true
  05_sails_global:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6.2.2-linux-x64 | head -1`/bin/sails /bin/sails"
